
#body{
	font-family: Raleway;
}
.banner{
	/*background-color: black;*/
	padding: 30px;
}
img{
	display: block;
	margin:0 auto;
	height: 300px;
	/*text-align: center;*/
}
.search-box{
	display: block;
	margin:0 auto;
	text-align: center;
	margin-top: 30px;

}
#links{
	width: 70%;
	/*height: 400px;*/
	margin-top: 50px;
	display: block;
	margin: 0 auto;
	margin-top: 30px;

	/*background-color: #0084b4;*/
    border: groove white 2px;
    box-shadow: #4b5257 -2px -3px 5px;
    border-radius: 5px;
    padding: 10px 30px 10px 30px;

}
#links a{
	/*color: white;*/
	font-size: 30px;

}
#links p{
	/*color: white;*/
}
#links hr{
	/*border: double blanchedalmond 2px;*/
}
.footer{
	text-align: center;
	color: white;
	margin-top: 20px;
	
}
.footer a{
	color: white;
}